
.BodyApp{
  text-align: right;
}
.Cards{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.disclo{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Heading{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Title{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
 
}

h4{
  position: relative;
  font-size: 15px;
}

 
.BoxPool{
  position: relative;
  border-radius: 10px;
}
