.BodyApp{
  text-align: right;

}
.Cards{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.disclo{
   
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Heading{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {background-color: rgb(250, 237, 220);}

